<!-- Member details modal -->
<div class="modal fade" id="MemberDetailsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Member Details</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="detailsDivId">
                    
                    <span>FirstName:</span><span id="memberDetailFirstName"></span><br>
                    <span>Surname:</span><span id="memberDetailSurname"></span><br>
                    <span>PhoneNumber:</span><span id="memberDetailPhoneNumber"></span><br>
                    <span>PersonalNumber:</span><span id="memberDetailPersonalNumber"></span><br>
                    <span>MembershipType:</span><span id="memberDetailMembershipType"></span><br>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
